[mysql]
default-character-set = utf8

[client]
default-character-set = utf8

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysqld]
user=mysql
collation-server = utf8_unicode_ci
character-set-server = utf8
max_allowed_packet = 32M

general_log = 0
slow_query_log = 0

sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
