<VirtualHost *:443>
    SSLEngine on
    ServerName <<client>>.reflow
    DocumentRoot /var/www/craft/clients/<<client>>/public_html
    SSLCertificateFile	/usr/local/apache2/ssl/server.crt
    SSLCertificateKeyFile /usr/local/apache2/ssl/server.key
</VirtualHost>